@use "variables" as *;
button {
  background-color: $primary-100;
  border: none;

  border-radius: 10px;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: lighten($accent-100, 10%);
  }
  &:disabled {
    background-color: $bg-300;
    cursor: not-allowed;
    opacity: 0.6;
  }
}
.small{
  padding: 0.5rem 1rem;
}
.medium{
  padding: 1rem 5rem;
}
.large{
  padding: 1rem 5rem;
}


