<div class="full-item">
    <div class="tittle">
      <span>{{title}}</span>
    </div>
    <div class="description">
      <span>{{description}}</span>
    </div>
    <div class="task-details">
    <span>{{taskCount}}</span>

    </div>
    <div>
       <span>{{completedTaskCount}}</span>
    </div>
    <div class="status">

      <span>{{priority}}</span>
    </div>
    <div>
      <span>{{dueDate}}</span>
    </div>
    <div class="member-number">
      {{numberOfMemebers}}
    </div>
</div>
